Для начало Вы должны создать свою базу данных с таблицой
Таблица(
Id
Date
Name
Count
Distance
)
После ее создание, в классе Sql замините название вашего сервера на свой и название таблицы тоже на свой
ВУАЛЯ все работает